.navbar{
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.links{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


.logo {
  width: 2rem;
}